<div class="modalOverlay">
  <button class="closeButton">X</button>
    <button class="modalButton" (click)="nav.NavigateTo('/pretrained')" >Pre trained</button>
  <button class="modalButton" (click)="nav.NavigateTo('/detection/resnet')" >Resnet 50</button>
  <button class="modalButton" (click)="nav.NavigateTo('/detection/mobilev1')" >Mobilenet V1 FPN</button>
  <button class="modalButton" (click)="nav.NavigateTo('/detection/mobilev2')" >Mobilenet V2 Lite</button>
    <button class="modalButton" (click)="location.href='https://github.com/tobias-roy/DOK-H5/tree/MachineLearning'">Documentation</button>
</div>

<style>
  .modalOverlay {
    margin-left: auto;
    margin-right: auto;
    background: rgba(204, 204, 204, 0.4);
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
    width: 30vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .modalButton{
    margin-left: auto;
    margin-right: auto;
  }

  .closeButton {
     position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    box-shadow: none;
  }

  .closeButton:hover{
    background: red;
  }

  .buttonWrapper {
    display: grid;
    grid-template-rows: repeat(3, 20px);
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90vh;
    position: relative;
    gap: 18px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ffffff;
  }

  button:hover {
    box-shadow: 0 0 #333;
    color: #fff;
    background-color: #333;
  }
</style>
